[access]
	inheritFrom = All-Projects
[project]
	description = Repository for the 2016 McGill Hackathon. Theme is bioinformatics and data processing.
[access "refs/*"]
	owner = group user/AliElHage (AliElHage)
[access "refs/for/refs/*"]
	read = group user/AliElHage (AliElHage)
	push = group user/AliElHage (AliElHage)
	label-Code-Review = -2..+2 group user/AliElHage (AliElHage)
	label-Verified = -1..+1 group user/AliElHage (AliElHage)
	rebase = group user/AliElHage (AliElHage)
	removeReviewer = group user/AliElHage (AliElHage)
	submit = group user/AliElHage (AliElHage)
[access "refs/heads/*"]
	read = group user/AliElHage (AliElHage)
	create = group user/AliElHage (AliElHage)
	push = +force group user/AliElHage (AliElHage)
	pushMerge = group user/AliElHage (AliElHage)
[access "refs/tags/*"]
	push = group user/AliElHage (AliElHage)
	push = +force group user/AliElHage (AliElHage)
